$primaryColor: teal;
$secondaryColor: lightblue;

html {
  font-family: Montserrat;
}

.title {
  color: $primaryColor;
  &__subtitle {
    color: $secondaryColor;
    display: flex;
    justify-content: center;
    height: 236px;
    background: url("../images/range_slider.png");
  }
}

.block{
  font-weight: 700;
}