doctype html
html(lang="en")
  include pug/_head
  body
    .container
      h1.title Range Slider
      h2(class="title__subtitle") Lorem ipsum dolor sit amet.
      .block Lorem ipsum dolor sit amet.
